<br>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Autos Ltda</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>Aplicac</p>
        </div>
</div>

<div class="container">
    <h2>
        Sobre nosotros
    </h2>
</div>
<div class="container " >
    <div class="jumbotron">
        <h2 >Desarrolladores</h2>
        <div class="">
        <mat-card class="card-class inline-block centered">
                    <mat-card-title-group class="">
                        <mat-card-title>Roy Maestre</mat-card-title>
                        <mat-card-subtitle>Desarrollador de cosas</mat-card-subtitle>
                        <mat-card-subtitle>Intento de desarrollador de videojuegos, intento de desarrollador frontend, intento de docente, intento de persona. Amante de los videojuegos y el Rock'n Roll BABYYYYY!. Por favor no muevan mucho la ventana que se daña.</mat-card-subtitle> 
                    <mat-card-content>
                        <div class="inline-block sized" > 
                            <img mat-card-lg-image class="image" src='./../../../assets/RoyPic.jpg'>
                        </div>
                    </mat-card-content>
                    </mat-card-title-group>
        </mat-card>    
        </div>
        <div class="">
            <mat-card class="card-class inline-block centered">
                        <mat-card-title-group class="">
                            <mat-card-title>Vanesa Tocasuche</mat-card-title>
                            <mat-card-subtitle>Analista de Software</mat-card-subtitle>
                            <mat-card-subtitle>Tocasuche, de una montaña de Támesis, en el único intento de vivir, aprender y ser Ingeniera de Sistemas, me gusta el backend, quiero aprender sobre ciencia de datos y también conocer toda la cordillera de los Andes.</mat-card-subtitle> 
                        <mat-card-content>
                            <div class="inline-block sized" > 
                                <img mat-card-lg-image class="image" src='./../../../assets/VaneMakeUp.jpeg'>
                            </div>
                        </mat-card-content>
                        </mat-card-title-group>
            </mat-card>    
            </div>
            <div class="">
                <mat-card class="card-class inline-block centered">
                            <mat-card-title-group class="">
                                <mat-card-title>"Cosi"</mat-card-title>
                                <mat-card-subtitle>Desarrollador Backend</mat-card-subtitle>
                                <mat-card-subtitle> A veces me llaman felipe correa, amo programar, tocar musica y hacer deporte. Aqui una foto mia de una ocasion en la que el backend no queria correr </mat-card-subtitle> 
                            <mat-card-content>
                                <div class="inline-block sized" > 
                                    <img mat-card-lg-image class="image" src='./../../../assets/Pipex.jpeg'>
                                </div>
                            </mat-card-content>
                            </mat-card-title-group>
                </mat-card>    
                </div>    
      </div>
</div>